node_modules/
.env
.env.*
!.env.example
.DS_Store
logs/
*.log

# Observy API runtime files
observy-api/uploads/

# Observy API station runtime status
observy-api/data/station-status.json


# Python vision virtual environment
observy-device/.venv-vision/


# Python cache
__pycache__/
*.pyc


# Local ML model weights
observy-device/*.pt

